@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/* Fonte Geral */
* {
    font-family: 'Orbitron', sans-serif;
}

/* Fonte Titulo */
@font-face {
    font-family: 'Titulo';
    src: url('/fonts/Anurati-Regular.otf') format('truetype');
}