#textoPandemia{
  padding: 15px;
  padding-top: 120px;
  text-align: center;
  font-size: 20px;
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: rgb(33, 33, 33);
}

.fadeOut {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; display: none; }
}

.closebtn {
  float: right; /* Posiciona o botão de fechar à direita */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

/* Overlay */
#overlay {
  /* Ele será inicialmente escondido */
  display: none;

  /* Ele será fixado e cobrirá todo o viewport */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* O fundo será preto com uma opacidade de 70% */
  background: rgba(0, 0, 0, 0.7);

  /* Ele aparecerá abaixo do menu e acima do resto do conteúdo */
  z-index: 2;
}

/* Body 2 */
#esquerdoImagem {
  position: relative;
  width: 100%;
}

#esquerdoImagem::after {
  content: "";
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}


.textoSobreVideo {
  position: absolute;
  top: 50%;
  left: 38%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2;
  font-size: 55px;
  padding: 15px;
}

/* CARDS */

.card {
  color: rgb(255, 255, 255);
  width: 100%;
  height: 300px;
  width: 356px;
  border: 2px solid #0b0b0b;
  /* Cor sólida */
  border-radius: 10px;
  /* Borda arredondada */
  padding: 10px;
  /* Espaçamento interno para o conteúdo */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  /* Sombra */
}

.card-body {
  position: relative;
  z-index: 2;
}

/* CARD1 */

#card1 {
  background-size: cover;
  background-size: 100% 100%;
  transition: background-size 0.7s;
}

#coluna1 :hover {
  background-size: 120% 150%;
}

#card1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  /* Preto semi-transparente */
  z-index: 1;

}

/* CARD 2 */

#card2 {
  background-size: cover;
  background-size: 100% 100%;
  transition: background-size 0.7s;
}

#coluna2 :hover {
  background-size: 120% 150%;
}

#card2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  /* Preto semi-transparente */
  z-index: 1;
}

/* CARD 3 */

#card3 {
  /* A propriedade background-size define o tamanho da imagem de fundo. */
  /* O valor 'cover' faz com que a imagem de fundo seja redimensionada para cobrir completamente o elemento, mesmo que isso signifique que a imagem será cortada. */
  background-size: cover;
  /* Aqui, a imagem de fundo é redimensionada para preencher completamente o elemento. */
  background-size: 100% 100%;
  /* A propriedade transition faz com que as mudanças na propriedade background-size ocorram suavemente ao longo de 0.7 segundos. */
  transition: background-size 0.7s;
}

#coluna3 :hover {
  /* Quando o mouse passa por cima do elemento com o id 'coluna3', a imagem de fundo é redimensionada para 120% da largura original e 150% da altura original. */
  background-size: 120% 150%;
}

#card3::before {
  /* A propriedade content é usada com os pseudo-elementos ::before e ::after, para inserir conteúdo gerado. Neste caso, está vazio. */
  content: "";
  /* A propriedade position define como um elemento é posicionado no layout. O valor 'absolute' posiciona o elemento em relação ao elemento pai mais próximo que tem uma posição diferente de 'static'. */
  position: absolute;
  /* A propriedade top define a distância do topo do elemento em relação ao topo do seu elemento pai posicionado mais próximo. */
  top: 0;
  /* A propriedade left define a distância da esquerda do elemento em relação à esquerda do seu elemento pai posicionado mais próximo. */
  left: 0;
  /* A propriedade width define a largura do elemento. */
  width: 100%;
  /* A propriedade height define a altura do elemento. */
  height: 100%;
  /* A propriedade background define a cor de fundo do elemento. Neste caso, é um preto semi-transparente. */
  background: rgba(0, 0, 0, 0.7);
  /* Preto semi-transparente */
  /* A propriedade z-index define a ordem de empilhamento dos elementos. Um elemento com um valor maior de z-index estará na frente de um elemento com um valor menor. */
  z-index: 1;
}

